@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
    font-family:'Encode Sans Condensed', sans-serif;
    letter-spacing: 1px;
}  

input:focus {
    background-color: #051014 !important;
    color: #ACBDBA !important;
}

.darkColor {
    background-color: #051014
}  

.blue {
    background-color: #2E2F2F;
}

.purpleBck {
    background-color: #A599B5;
}

.darkGreen {
    color: #A599B5;
}

.oliveGreen {
    color: #CDDDDD;
}

.yellow {
    color: #ACBDBA;
}

.nav {
    /* margin: 0; */
    padding: 3px 8px;
}

.dash {
    text-align: center;
}

#main{
    /* border-right: solid .7px #f1eeee; */
    font-size: 19px;
}

.head {
    border-top-left-radius: 5px;
    padding: 0 20rem;
}

.head-2 {
    border-top-right-radius: 5px;
}

.buttonList {
    background-color: white;
}

.web,
.name,
.password,
.updateB,
.deleteB{
    border-left: solid .7px #ccc;
    border-right: solid .7px #ccc;
    border-bottom: solid .7px #ccc;
}

.password {
    font-size: 5px;
}

.passwordBtn {
    margin-top: 10px;
}

#logout{
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#logout:hover {
    color: #343a40;
    text-decoration: none;
}

.btn {
    margin-left: 5px !important;
    padding: 3px 7px;
}

.btn:hover {
    background-color: #343a40;
    color: white;
}
